.group-list
  .user-name 
    .name
      masa
    .group-icon
      .icon-edit
        = icon('fas','edit',class: 'icon')
      .icon-cog
        = icon('fas', 'cog',class: 'icon')
  .messeage 
    .teachcamp
      teachchamp
    .commnt
      まだメッセージがありません
  
     
